@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil+One&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root {
    --raw-seinna: #e38445;
    --sizzling-sunrise: #f9d81a;
    --scarlet: #eb3705;
    --black: #000000;
    --white: #ffffff;
    --bg-primary: hsl(0, 0%, 90%);
    --input-bg: hsl(0, 0%, 93%);
    --bg-secondary: hsl(0, 0%, 100%);

    --ff-saira-stencil-one: "Saira Stencil One", sans-serif; 
    --ff-poppins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-turret: 'Turret Road', sans-serif;

    --fs-1: 2rem;
    --fs-2: calc(1.813rem + 1vw);
    --fs-3: calc(1.313rem + 1vw);
    --fs-4: 1.4rem;
    --fs-5: 1rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;

    --fw-400: 400;
    --fw-700: 700;

    --transition-1: 0.25s ease-in-out;

    --section-padding: 80px;

    --radius-4: 4px;
    --radius-12: 12px;
}

*{
  /* font-family: "Pixelify Sans"; */
  font-family: roboto, system-ui, arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

  *,::before,::after { margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth; }
  li { list-style: none; }
  a, img, time, span, input, label, select, button, textarea, fa { display: block; }
  input, button, select, textarea { background: none; border: none; font: inherit; }
  button, select { cursor: pointer; outline: none; }
  input, textarea { width: 100%; }
  a { text-decoration: none; }
  :is(a, button, select) { outline-color: var(--scarlet); outline-offset: 3px; }
  ::selection { background: var(--color-primary); color: var(--bg-primary); }
  html { font-family: var(--ff-roboto); }
  body { background: var(--bg-primary); transition: var(--transition-1); }
  body.active { overflow: hidden; }

    body.dark-theme {
      --bg-primary: hsl(0, 0%, 12%);
      --bg-secondary: hsl(0, 0%, 19%);
      --color-primary: hsl(0, 0%, 100%);
      --color-secondary: hsl(0, 0%, 62%);
      --card-shadow: hsla(0, 0%, 0%, 0.4);
      --input-bg: hsl(0, 0%, 16%);
  
      --shadow-1: 10px 10px 40px var(--card-shadow);
  }
  
  body.light-theme {
      --bg-primary: hsl(0, 0%, 90%);
      --bg-secondary: hsl(0, 0%, 100%);
      --color-primary: #1f1f1f;
      --color-secondary: #5e5e5e
      --card-shadow: hsla(0, 0%, 0%, 0.1);
      --input-bg: hsl(0, 0%, 93%);
  
      --shadow-1: 10px 10px 40px var(--card-shadow);
  }

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 40px;
  font-family: "Pixelify Sans";
  position: relative;
  color: var(--raw-seinna);
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 2px;
  background: var(--raw-seinna);
}